@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1nchso');
  src:  url('fonts/icomoon.eot?1nchso#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1nchso') format('truetype'),
    url('fonts/icomoon.woff?1nchso') format('woff'),
    url('fonts/icomoon.svg?1nchso#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
    --primary-font-color: #f2f3f5;
    --secondary-font-color: #f2686a;
    --home-back-color: #140f0f;
    --shadow-color: #2d2c2f;
}

html, body {
    display: block;
    font-family: 'Ubuntu', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body {
    display: block;
    margin: 0;
    color: var(--primary-font-color);
    background-color: var(--home-back-color);
}

h1, h2 {
    text-shadow: 2px 0px var(--shadow-color);
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin: 2rem 1rem 0.5rem 1rem;
}

a {
    color: var(--primary-font-color);
    text-decoration: none;
    text-shadow: 1px 0px var(--shadow-color);
}

a:hover {
    color: var(--secondary-font-color);
}

.page-container {
    display: flex;
    justify-content: center;
    margin: 2rem;
    min-height: 80vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    min-height: 80vh;
    margin: 0 12% 0 12%;
}

.resume-container {
    min-height: 100vh;
}

ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-left: 1rem;
}

ul li {
    display: block;
    list-style-type: none;
    margin: 0;
    margin-right: 1.25rem;
}

p, a {
    font-size: 20px;
    line-height: 1.4;
}

.highlight {
    color: var(--secondary-font-color);
}

.info {
    margin: 0rem 1rem 0 1rem;
}

.info-desc p {
    min-width: 50vw;
    margin: 0;
    text-shadow: 1px 0px var(--shadow-color);
}

.info-desc {
    margin: 1rem;
}

.icon {
    font-size: 40px;
}

.calendar, .resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    border: 0;
    margin-top: 1%;
    width: 80vw;
    height: 80vh; 
}

@media (min-width: 1281px) {

    .calendar iframe {
        width: 800px;
        height: 600px; 
    }

    .resume iframe {
        width: 1200px;
        height: 900px; 
    }
}
